:root {
  --doc-height: 100vh;
}

.background-fixed {
  height: 100vh;
  height: 100dvh;
  height: var(--doc-height);
}

.content-wrapper {
  height: 100vh;
  height: 100dvh;
  height: var(--doc-height);
}